html,body {
    margin:0 auto ;
    padding: 0;
    max-width : 1200px;
    width: 100%;
    height: 100%;
}

body{
    display: flex;
    gap: 10px;
    flex-direction: column;
    justify-content: center;

}

.header {
    display: flex;
    justify-content: center;
    text-align :center;
    border-style: solid;
    margin : 5px;
    text-decoration: underline;
    background-color: #F1F1D3;
    border-radius: 0 30px 0 30px;
    box-shadow: 4px 4px 0 #E3EBD0;

}

a > img{
    width: 100px;
    height : 100px;
}
a > img:nth-child(2){
    width: 125px;
    height: 100px;
}

.content{
    overflow-y: scroll;
    flex-direction: column;
    justify-content: center;
    border-style: solid;
    border-radius : 5px;
    box-shadow: 6px 6px 0 #E3EBD0;
}

.list{
    display: flex;
    flex-direction: column;
    row-gap: 5px;
    justify-content: center;

}

.footer{
    display: flex;
    justify-content: center;
    border-style: solid;

}

.tv:hover,.link_season:hover ,.episodes:hover{
    background-color: #E3EBD0 ;
    transition: ease-in-out 50ms;
}

.tv{
    display: flex;
    border: solid black;
    color: black;
    text-decoration: none;
    flex-direction: column;
    padding: 5px;
    margin: 5px;
    font-size: smaller;
    align-items: center;
    border-radius: 5px;

}

.tvshow__{
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 5px;

}

.name{
    display: flex;
    text-decoration: underline;
    font-family: fantasy;
    font-size: 30px;

}
.overview{
    display: flex;

}
.poster{
    display : flex;
    height: 150px;
    width: 125px;
    align-items: center;
}

.poster2{
    display : flex;
    height: 250px;
    width: 225px;
    align-items: center;
}


.showList {
    display: flex;
    border: solid black;
    margin : 5px;
    padding : 5px;
    align-items: center;
    row-gap: 10px;
    background-color: #E3EBD0
}


.show_titles {
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    font-size: large;
    text-decoration: underline;
    align-self: flex-start;

}

.show_overview {
    align-items: flex-end;
    font-size : small;


}

.seasonTitle {
    font-size: large;

}

.text {
    margin :5px;
    align-self: flex-start;

}

.season {
    display: flex;
}

.link_season {
    display: flex;
    border: solid black;
    color: black;
    text-decoration: none;
    padding: 5px;
    margin: 5px;
    font-size: smaller;
    border-radius: 5px;

}

.seasonTitle {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px;

}

.seasonList{
    display: flex;
    border: solid black;
    margin : 5px;
    padding : 5px;
    align-items: center;
    row-gap: 10px;
    justify-content: space-between;
    background-color: #E3EBD0;

}

.season_names{
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    font-size: large;
    text-decoration: none;
    align-self: flex-start;

}

.season_names > a {
    color : black;
}

.episodes {
    display: flex;
    border: solid black;
    color: black;
    text-decoration: none;
    padding: 5px;
    margin: 5px;
    font-size: smaller;
    border-radius: 5px;
    flex-direction: column;
    row-gap: 10px;
}

.title_number{
    text-decoration: underline;
    font-size: larger;
    font-family: fantasy;
}

.episodes_overview{
    font-family: fantasy;
    font-size : initial;
}

form{
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin: 5px;
    align-items: center;
    padding : 20px;
}
.form_name,.form_original, .form_originalname ,.form_homepage, .form_overview, .form_poster {
    display : flex;
    flex-direction: column;
    width: 300px;
    text-align: left;
    row-gap: 5px;

}
.content > h1 {
    text-align: center;
    font-family: fantasy;
    text-decoration: underline;
}

h1{
    font-family: fantasy;
}

.menu{
    display : flex;
    align-items: center;
    justify-content: space-around;
    border-style: solid;
    border-radius: 5px;
}

.box_filter{
    display :flex;
    text-align: center;
    flex-direction: column;
    align-items: center;
}
.rfilter{
    text-decoration: none;
    color : white;
    font-family: fantasy;
    padding :5px;
    margin: 5px;
    border-style: solid;
    border-radius: 3px;
    width: 200px;
    align-content: center;
    transition-property: opacity, left, top, height;
    transition-duration: 3s, 5s;

    background-color: #333;
    transition: all 0.5s ease-out
}
.rfilter:hover,
.rfilter:focus {
    color: #333;
    background-color: #fff;
}

@media only screen and (min-width:1000px) {
    div.tvshow:nth-child(even) a {
        flex-direction: row-reverse;
        font-size: initial;


    }

    div.tvshow:nth-child(odd) a {
        flex-direction: row;
        font-size: initial;

    }

    .poster {
        height: initial;
        width: initial;
    }
    .tvshow:nth-child(odd) .tvshow__ {
        align-items:start;
        margin : 10px;

    }
    .tvshow:nth-child(even) .tvshow__ {
        align-items:end;
        margin :10px;
        text-align :right;

    }
    .form_name,.form_original, .form_originalname ,.form_homepage, .form_overview, .form_poster {
        width: 450px;




    }

}